body {
    background-color: rgb(250, 247, 247);
}

.caja {
    background-color: rgb(208, 213, 218);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(3, 3, 3);
    border-radius: 2px;

}

.contenido {
    padding: 10spx;
}

.footer {
    padding: 20px;
    border-top: solid 1px;
    border-top-color: rgb(18, 90, 8);

}

.primario {
    background-color: rgb(9, 153, 81);
    padding: 5px;
    border: 0px;
    color: rgb(207, 196, 255);
}

.secundario {
    background-color: rgb(238, 232, 232);
    padding: 8px;
    border: 0px;
}